<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="USER_HOME" value="G:/日志" />
	<property name="LOG_FILE_NAME" value="COCO" />
	<property name="LEVEL" value="DEBUG" />
	<property name="logFileNamePattern" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}" />
	<property name="logFileNamePattern2" value="${LOG_FILE_NAME}_%d{yyyy-MM-dd}_%i" />
	<property name="fileLayoutPattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%logger{25}]%-5level %msg%n" />
	<property name="consoleLayoutPattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%logger{25}]%-5level %msg%n" />
	<contextName>COCO</contextName>
	<timestamp key="bySecond" datePattern="yyyyMMddHHmmss" />
	<timestamp key="byDate" datePattern="yyyyMMdd" />
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/${logFileNamePattern}.txt.zip</fileNamePattern>
			<timeBaseFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBaseFileNamingAndTriggeringPolicy>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<layout>
			<pattern>${fileLayoutPattern}</pattern>
		</layout>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout name="StandardFormat" class="ch.qos.logback.classic.PatternLayout">
			<pattern>${consoleLayoutPattern}</pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</logger>
	<logger name="org.apache.struts2" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</logger>
	<logger name="com.opensymphony.xwork2" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</logger>
	<logger name="org.apache.ibatis" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</logger>
	<logger name="net.sf.json." level="ERROR" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</logger>
	
	<root level="${LEVEL}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</root>
</configuration>